body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: whitesmoke;
}

#home-container {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/home-image.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
#home-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.08);
}
/*
#background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/

#login {
    position: relative;
    width: 40%;
    height: 90vh;
    margin: 0 auto;
    z-index: 2;
}

.toggle {
    margin-left: 85%;
}

.toggle:hover {
    cursor: pointer;
}

#nyscLogin {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
}

.row {
    margin-bottom: 0 !important;
}

.nyscPic {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.loginButton {
    position: absolute;
    right: 0;
    background-color: #019020;
    padding: 10px 20px;
    border: 1px solid #019020;
    color: #FFFFFF;
    margin-right: 3%;
    font-size: 1.1em;
}


/* icon prefix color */
.input-field label {
    color: #000 !important;
}

.input-field input[type=text], .input-field input[type=password]  {
    border-left: 0px;
    border-bottom: .2px solid #000;
    /*box-shadow: 0 0 0px 0 #000;*/
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #019020 !important;
  }
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #019020 !important;
  }
  /* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-left: 0px !important;
    border-bottom: 1px solid #019020 !important;
    box-shadow: 0px 0px 0px 0px #019020 !important;
  }

  /*====REGISTRATION PAGE====*/
  nav {
      width: 100%;
      height: 50px;
      background-color: #019020;
  }

  nav h6 {
      display: inline-block;
  }

  nav i {
      display: inline-block !important;
      line-height: 50px;
  }

  h6 {
      margin: 0 !important;
      padding: 0 !important;
  }

  #header {
      position: relative;
      width: 400px;
      margin-left: 36%;
  }

  .regPic {
      width: 133px;
      height: 162px;
  }
  
  .home-row {
    margin-left: 20%;
}

h2 {
    margin: 0;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    color: #019020;
}

/*#region Upload Styles */
.sig-preview {
    width: 100px;
    height: 100px;
    padding: 20px;
    position: relative;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #b2b2b2;
    background-image: url('../images/signature.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.imageuploadpreview {
    width: 15% !important;
    margin-top: 220px;
    position: absolute;
}

.pictureupload {
    width: 15% !important;
    margin-top: 50px !important;
}

.formupload {
    margin-left: 4% !important;
}

.upload-preview {
    width: 150px;
    height: 150px;
    padding: 20px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #b2b2b2;
    background-image: url('../images/images.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.upload-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

#picture-image-mobile {
    display: none;
}
.reg-button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    background-color: #019020;
    color: #F8F8F8;
    border: 1px solid #019020;
    transition: all 300ms ease-in-out;
}

.reg-button:hover {
    background-color: #F8F8F8;
    color: #019020
}


  /*====MEDIA QUERIES====*/
  /*==== LOGIN PAGE MEDIA QUERIES====*/

  /* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) { 
    #home-container {
        background-image: url("../images/home-image-small.jpg");
    }    
    #login {
        width: 70%; 
    }
 }


/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) { 
    #login {
        width: 80%; 
    } 
    #nyscLogin {
        width: 90%;
    }  
 }

@media screen and (max-width: 480px) { 
    /*#home-container {
        background-image: url("../images/home-image-small.jpg");
    } */
    .nyscPic {
        top: 17%;
        width: 130px;
        height: auto;
        transform: translate(-50%,-50%);
        z-index: 2;
    }
    #login {
        position: relative;
        width: 90%;
        height: 90vh;
        margin: 0 auto;   
    }
    #nyscLogin {
        width: 100%;
    }

    .regPic {
        width: 100px;
        height: 122px;
    }
    .home-row {
        margin-left: 3%;
    }

    .pictureupload {
        margin-top: 4% !important;
        margin-left: 1% !important;
        width: 21% !important;
    }

    .upload-preview {
        width: 100px;
        height: 100px;
    }

    #picture-image {
        display: none;
    }

    .formupload {
        width: 80% !important;
    }

    .input-field {
        width: 100% !important;
    }
     
    #header {
        width: 200px;
        margin-left: 20%;
    }
    .regPic {
        margin-left: 40px;
    }
    h2 {
        margin-left: 0;
        font-size: 3em;
    }

    #picture-image-mobile {
        display: block;
        width: 100%;
        height: 120px;
    }

    .passport-upload {
        width: 115px;
        display: inline-block;
    }

    .signature-upload {
        width: 100px;
        display: inline-block;
    }
 }

 
  /*==== LOGIN PAGE MEDIA QUERIES====*/

@media screen and (max-width: 991.98px) {
    .pictureupload {
        width: 150px !important;
    }    
    #header {
        width: 350px;
    }
    .regPic {
        margin-left: 140px;
    }
    h2 {
        margin-left: 90px;
    }
}
 
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) { 
    .home-row {
        margin-left: 0;
    }
    .pictureupload {
        margin-top: 95px !important;
    }
    .imageuploadpreview {
        margin-top: 270px;
    }
    .formupload {
        width: 65% !important;
    }
 }

 @media screen and (max-width: 480px) {
     .regPic {
        width: 100px;
        height: 122px;
        margin-left: 40px;
    }
    .home-row {
        margin-left: 3%;
    }

    .pictureupload {
        margin-top: 4% !important;
        margin-left: 1% !important;
        width: 21% !important;
    }

    .upload-preview {
        width: 100px;
        height: 100px;
    }

    #picture-image {
        display: none;
    }

    .formupload {
        width: 80% !important;
    }

    .input-field {
        width: 100% !important;
    }
     
    #header {
        width: 200px;
        margin-left: 20%;
    }
    
    h2 {
        margin-left: 0;
        font-size: 3em;
    }

    #picture-image-mobile {
        display: block;
        width: 100%;
        height: 120px;
    }

    .passport-upload {
        width: 115px;
        display: inline-block;
    }

    .signature-upload {
        width: 100px;
        display: inline-block;
    }
 }

/*#endregion */